.aboutPage {
    min-height: 100vh;
    background: #111;
    color: white;
    font-family: NoiTesk;

    .aboutUs {
        min-height: 100vh;
        width: 100%;
        padding: 3vw 6vw;

        .aboutUsIn {
            height: fit-content;
            width: 100%;

            @media (max-width: 768px) {
                margin-bottom: 20vw;
            }

            h1 {
                font-size: 3.5vw;
                color: #F2FFC4;
                margin-bottom: 7vw;
                width: 50%;

                @media (max-width: 768px) {
                    font-size: 7.1vw;
                    width: 100%;
                    line-height: 10vw;
                    margin-bottom: 18vw;
                }
            }

            .introBlock {
                display: flex;
                flex-direction: column;
                gap: 8vw;

                @media (max-width: 768px) {
                    gap: 18vw;
                }

                .leftPara,
                .rightPara {
                    display: flex;
                    align-items: flex-start;
                    position: relative;

                    .box {
                        width: 1vw;
                        height: 1.1vw;
                        background-color: #c6ff4f;
                        transform: skew(-20deg);
                        margin-right: 0.5vw;

                        @media (max-width: 768px) {
                            width: 2vw;
                            height: 2.1vw;
                            margin-right: 1vw;
                        }
                    }

                    p {
                        font-size: 1.2vw;
                        line-height: 1.7;
                        width: 43%;

                        @media (max-width: 768px) {
                            font-size: 3.4vw;
                            width: 70%;
                        }

                        span {
                            display: inline-block;
                        }
                    }
                }

                .leftPara {
                    justify-content: flex-end;

                    p {
                        text-align: right;
                    }

                    img {
                        position: absolute;
                        width: 20vw;
                        height: 10vw;
                        top: -10%;
                        left: 0;
                        object-fit: cover;
                        border-radius: 1vw;

                        @media (max-width: 768px) {
                            display: none;
                        }
                    }
                }

                .rightPara {
                    justify-content: flex-start;

                    .box {
                        margin-left: 0.5vw;
                        margin-right: 0;

                        @media (max-width: 768px) {
                            margin-left: 1vw;
                        }
                    }

                    p {
                        text-align: left;
                        margin-left: 1.5vw;

                        @media (max-width: 768px) {
                            margin-left: 3vw;
                            width: 80%;
                        }
                    }

                    img {
                        position: absolute;
                        width: 20vw;
                        height: 10vw;
                        top: -10%;
                        right: 0;
                        object-fit: cover;
                        border-radius: 1vw;

                        @media (max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
        }

        .aboutList {
            min-height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 6vw;

            @media (max-width: 768px) {
                align-items: center;
                gap: 5vw;
            }

            h1 {
                font-size: 3.5vw;
                color: #F2FFC4;

                @media (max-width: 768px) {
                    font-size: 7.1vw;
                }
            }

            .curvedArrow {
                width: 20vw;
                position: absolute;
                top: 35%;
                left: 10%;
                transform: rotate(20deg);

                @media (max-width: 768px) {
                    display: none;
                }

                .arrowPath {
                    fill: none;
                    stroke: #C6FF4F;
                    stroke-width: 2;
                }
            }

            .featuresList {
                position: relative;
                list-style: none;
                padding: 0;
                max-width: 50%;
                align-self: flex-end;
                margin-right: 4vw;

                @media (max-width: 768px) {
                    align-self: center;
                    max-width: 100%;
                }

                li {
                    margin-bottom: 1.6vw;
                    padding: 1.2vw 2vw;
                    background-color: #1c1c1c;
                    border-left: 4px solid #c6ff4f;
                    border-radius: 0.5vw;
                    font-size: 1vw;
                    text-align: left;
                    color: #ccc;
                    transition: all 0.3s ease;

                    @media (max-width: 768px) {
                        padding: 3vw 4vw;
                        font-size: 2.8vw;
                        margin-bottom: 4vw;
                        height: 6.5vh;
                        display: flex;
                        align-items: center;
                    }

                    &:hover {
                        background-color: #222;
                        color: #fff;
                    }
                }
            }
        }

        .aboutDetails {
            min-height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 5vw;
            gap: 6vw;

            @media (max-width: 768px) {
                margin-top: 15vw;
            }

            h1 {
                font-size: 3.5vw;
                color: #F2FFC4;
                position: relative;
                align-self: flex-end;

                @media (max-width: 768px) {
                    font-size: 7.1vw;
                    align-self: center;
                }
            }

            .differenceContent {
                display: flex;
                gap: 4vw;
                justify-content: center;
                flex-wrap: wrap;

                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: center;
                    gap: 7vw;
                }

                .point {
                    background: #1c1c1c;
                    padding: 2vw;
                    border-radius: 0.7vw;
                    border-left: 4px solid #c6ff4f;
                    max-width: 40%;
                    font-size: 1vw;
                    color: #ccc;
                    transition: all 0.3s ease;

                    @media (max-width: 768px) {
                        max-width: 100%;
                        padding: 8vw;
                    }

                    &:hover {
                        background: #222;
                        color: #fff;
                    }

                    p {
                        font-size: 1.1vw;
                        margin: 0;
                        line-height: 1.7;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                        }
                    }
                }
            }

            .tagline {
                font-size: 1.2vw;
                font-style: italic;
                align-self: center;
                color: #c6ff4f;
                margin-bottom: 4vw;

                @media (max-width: 768px) {
                    font-size: 3.3vw;
                    margin-top: 3vw;
                    text-align: center;
                }
            }
        }

        .foundersSection {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .founders {
                margin: 2vw auto;
                background-color: #1c1c1c;
                padding: 4vw;
                border-radius: 1vw;
                height: fit-content;
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 4vw;

                @media (max-width: 768px) {
                    margin-top: 10vw;
                    max-width: 100%;
                    height: fit-content;
                }

                h1 {
                    font-size: 4vw;
                    color: #F2FFC4;
                    align-self: center;
                    position: relative;
                    z-index: 1;

                    @media (max-width: 768px) {
                        font-size: 7.1vw;
                    }

                    &::after {
                        content: 'FOUNDERS';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: -70%;
                        font-weight: bold;
                        left: 5%;
                        color: #444;
                        font-size: 6vw;
                        z-index: -1;

                        @media (max-width: 768px) {
                            font-size: 8vw;
                            top: -40%;
                            left: 15%;
                        }
                    }
                }

                p {
                    font-size: 1.2vw;
                    color: #ccc;
                    line-height: 1.7;
                    text-align: center;

                    @media (max-width: 768px) {
                        font-size: 3.5vw;
                    }

                    strong {
                        color: #c6ff4f;
                    }
                }
            }

            .highlight {
                font-size: 1.2vw;
                margin: 2vw 0;
                overflow: hidden;

                @media (max-width: 768px) {
                    font-size: 3.3vw;
                    margin: 7vw 0;
                    text-align: center;
                }

                strong {
                    color: #c6ff4f;
                    font-style: italic;

                    &:nth-child(1) {
                        font-style: normal;
                    }
                }
            }
        }
    }
}