.footer {
  min-height: fit-content;
  background-color: #111;
  color: #c6ff4f;
  text-align: center;
  font-size: 1vw;
  border-top: 1px solid #444;
  position: relative;

  .footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    flex-wrap: nowrap;

    .footerLeft {
      width: 50%;
      height: 100%;
      padding: 2vw;
      padding-left: 4vw;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 2vw;

      h1 {
        text-align: left;
        font-family: Wall;
        font-size: 4vw;
        line-height: 3vw;
      }

      .address {
        height: fit-content;
        width: 100%;

        h5 {
          font-size: 1.2vw;
          text-align: left;

          i {
            margin-right: 1vw;
            color: #c6ff4f;
          }
        }
      }

      .socials {
        height: fit-content;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 2vw;

        i {
          font-size: 2vw;
          transition: all ease 0.5s;
          cursor: pointer;

          &:hover {
            color: #c6ff4f;
          }
        }
      }
    }

    .footerRight {
      width: 50%;
      height: fit-content;
      color: #fff;
      align-self: flex-start;
      align-items: center;
      padding: 2vw;
      display: flex;
      gap: 6vw;

      .pages {
        height: 100%;
        width: 20%;

        h2 {
          font-size: 1.8vw;
          text-align: left;
          border-bottom: 1px solid #ccc;
        }

        h4 {
          text-align: left;
          margin-top: 1vw;
        }
      }

      .socialMedia {
        height: 100%;
        width: 30%;

        h2 {
          font-size: 1.8vw;
          text-align: left;
          border-bottom: 1px solid #ccc;
        }

        h4 {
          text-align: left;
          margin-top: 1vw;
        }
      }

      button {
        align-self: center;
        border-radius: 1vw;
        padding: 1vw 2vw;
        height: fit-content;
        width: fit-content;
        border: none;
        padding: 0.8vw 1.8vw;
        background: linear-gradient(145deg, #c6ff4f, #679a02);
        color: #fff;
        border-radius: 50px;
        font-weight: bold;
        font-size: 0.96vw;
        box-shadow: 0 4px 12px rgba(173, 255, 47, 0.3);
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 2px 12px rgba(173, 255, 47, 0.5);
        }

        &:active {
          transform: scale(0.98);
          box-shadow: 0 3px 8px rgba(173, 255, 47, 0.4);
        }
      }
    }
  }
}