.getStarted {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vw;
    padding: 0 5vw 5vw 5vw;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 6vw;
    }

    .left {
        width: 35%;
        padding: 2vw;
        border-radius: 1vw;
        box-shadow: 0 0 15px rgba(199, 255, 79, 0.156);

        @media (max-width: 768px) {
            width: 80%;
            height: fit-content;
            padding: 3vw;
            align-self: flex-start;
        }

        h2 {
            font-size: 1.2vw;
            font-weight: lighter;
            margin-bottom: 1.3vw;

            @media (max-width: 768px) {
                margin-bottom: 5vw;
                font-size: 3.5vw;
            }

            &:nth-child(1) {
                color: #c6ff4f;
                font-size: 1.5vw;

                @media (max-width: 768px) {
                    font-size: 5vw;
                }
            }
        }
    }

    .arrowWrapper {
        flex-shrink: 0;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 100%;
            height: auto;
        }

        .arrowPath {
            fill: none;
            stroke: #c6ff4f;
            stroke-width: 4;
            stroke-dasharray: 300;
            stroke-dashoffset: 300;
            transition: stroke 0.3s ease;
        }
    }


    .right {
        align-self: flex-end;
        width: 25%;
        padding: 2vw;
        border-radius: 1vw;
        box-shadow: 0 0 15px rgba(199, 255, 79, 0.14);

        @media (max-width: 768px) {
            width: 80%;
            height: fit-content;
            padding: 4vw;
            align-self: flex-end;
        }

        h3 {
            font-size: 1.5vw;
            color: #F2FFC4;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 5vw;
            }

            &:nth-child(2) {
                margin-top: 2vw;
                color: #fff;
                font-size: 1.2vw;

                @media (max-width: 768px) {
                    margin-top: 5vw;
                    font-size: 3.5vw;
                }
            }
        }
    }
}