@font-face {
  font-family: Wall;
  src: url(../public/Wallpoet-Regular.ttf);
}

@font-face {
  font-family: NoiTesk;
  src: url(../public/NoiGrotesk-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #c6ff4f;
  border-radius: 0px;
}

@media (max-width: 416px) {
  ::-webkit-scrollbar {
    width: 3px;
    background: #111;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c6ff4f;
    border-radius: 0px;
  }
}