@font-face {
  font-family: Wall;
  src: url(../public/Wallpoet-Regular.ttf);
}

@font-face {
  font-family: NoiTesk;
  src: url(../public/NoiGrotesk-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

[data-scroll-container] {
  height: 100%;
  overflow: hidden;
}