.homepage {
    min-height: 100vh;
    width: 100%;
    background: #0A0A0A;
    color: #fff;
    font-family: NoiTesk;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image ease 2s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 0 0 6vw;
        height: calc(100vh - 6vw);

        .tagline {
            width: 60%;
            height: fit-content;
            align-self: flex-start;
            margin-top: 3vw;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            gap: 2vw;

            span {
                display: inline-block;
                will-change: transform, opacity;
            }

            h1 {
                font-size: 2.5vw;
                line-height: 3.3vw;
                margin-bottom: 1vw;
                color: #F2FFC4;
                overflow: hidden;
            }

            p {
                font-size: 1.1vw;
                line-height: 1.8vw;
                color: #fff;
                width: 60%;
                overflow: hidden;
            }

            button {
                border: 1px solid #c6ff4f;
                background-color: transparent;
                color: #fff;
                padding: 1vw 2vw;
                border-radius: 1vw;
                margin-top: 1vw;
                font-weight: bold;
                font-size: 1vw;
                cursor: pointer;
                transition: all ease 0.5s;

                &:hover {
                    background-color: #c6ff4f;
                    color: #000;
                }
            }
        }
    }
}

.aboutSection {
    min-height: 100vh;
    background: #111;
    color: white;
    text-align: left;
    font-family: NoiTesk;
    padding-top: 0.1px;

    .rotated {
        margin: 8vw auto;
        width: fit-content;
        align-self: flex-start;

        h1 {
            font-size: 7vw;
            line-height: 9vw;

            &:nth-child(1) {
                transform: rotate(6deg);
                transform-origin: bottom;
                color: #F2FFC4;
            }

            &:nth-child(2) {
                color: #c6ff4f;
            }

            &:nth-child(3) {
                transform: rotate(-6deg);
                transform-origin: bottom;
                color: #F2FFC4;
            }
        }
    }

    .aboutDetails {
        height: fit-content;
        width: 100%;

        .details {
            min-height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 3vw;
            position: relative;
            gap: 8vw;
            margin-top: 5vw;

            img {
                object-fit: cover;
                object-position: center;
                height: 80vh;
                width: 35%;
                border-radius: 2vw;
            }

            .imageLabel {
                position: absolute;
                font-size: 10vw;
                left: 27%;
                top: -1%;
                -webkit-text-stroke: 1px white;
                color: transparent;
            }

            .detailsInner {
                width: 42%;

                h2 {
                    margin-bottom: 3vw;
                    font-size: 3vw;
                    color: #F2FFC4;
                }

                h4 {
                    font-size: 1.5vw;
                    font-weight: lighter;
                }

                h5 {
                    margin-top: 2vw;
                    font-size: 1.2vw;
                    font-weight: lighter;
                    color: #ccc;
                }

                ul {
                    margin-top: 3vw;
                    list-style: none;

                    li {
                        margin-top: 2vw;
                        font-size: 1.2vw;
                        padding-left: 3vw;
                        position: relative;

                        i {
                            position: absolute;
                            left: 0;
                            top: 0;
                            font-size: 1.8vw;
                            color: #c6ff4f;
                        }
                    }
                }
            }

            &:nth-child(even) .imageLabel {
                left: auto;
                right: 13%;
            }
        }
    }

    .getStarted {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5vw;
        padding: 0 5vw 5vw 5vw;

        .left {
            width: 35%;
            padding: 2vw;
            border-radius: 1vw;
            box-shadow: 0 0 15px rgba(199, 255, 79, 0.156);

            h2 {
                font-size: 1.2vw;
                font-weight: lighter;
                margin-bottom: 1.3vw;

                &:nth-child(1) {
                    color: #c6ff4f;
                    font-size: 1.5vw;
                }
            }
        }

        .arrowWrapper {
            flex-shrink: 0;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 100%;
                height: auto;
            }

            .arrowPath {
                fill: none;
                stroke: #c6ff4f;
                stroke-width: 4;
                stroke-dasharray: 300;
                stroke-dashoffset: 300;
                transition: stroke 0.3s ease;
            }
        }


        .right {
            align-self: flex-end;
            width: 25%;
            padding: 2vw;
            border-radius: 1vw;
            box-shadow: 0 0 15px rgba(199, 255, 79, 0.14);

            h3 {
                font-size: 1.5vw;
                color: #F2FFC4;
                font-weight: lighter;

                &:nth-child(2) {
                    margin-top: 2vw;
                    color: #fff;
                    font-size: 1.2vw;
                }
            }
        }
    }
}

.servicesSection {
    min-height: 100vh;
    background: #111;
    color: white;
    font-family: NoiTesk;
    padding-top: 0.1px;

    h1 {
        margin: 10vw auto;
        font-size: 4vw;
        position: relative;
        width: fit-content;
        z-index: 1;
        letter-spacing: 5px;
        color: #F2FFC4;

        &::after {
            content: 'MEMBERSHIPS';
            position: absolute;
            top: -120%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 8vw;
            font-weight: bolder;
            color: #444;
            z-index: -1;
        }
    }

    .plans {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        padding-bottom: 5vw;

        .card {
            width: 20vw;
            height: 30vw;
            background: #333;
            border-radius: 1vw;
            overflow: hidden;
            transition: transform 0.3s ease;
            display: flex;
            flex-direction: column;

            .planDetails {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.6vw;

                h2 {
                    font-size: 2vw;
                    font-weight: lighter;

                    span {
                        font-weight: bold;
                    }
                }

                img {
                    width: 5vw;
                }
            }

            .planList {
                width: 100%;
                height: fit-content;
                padding: 2vw;

                h4 {
                    font-size: 1.2vw;
                    line-height: 2.4vw;
                    font-weight: lighter;

                    i {
                        margin-right: 0.7vw;
                    }
                }
            }

            button {
                border: none;
                padding: 1vw 2vw;
                border-radius: 1vw;
                background-color: #c6ff4f;
                width: fit-content;
                align-self: center;
                margin-bottom: 1vw;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .featured {
            transform: scale(1.1);
            background: #333;
        }
    }
}