    .aboutSection {
        min-height: 100vh;
        background: #111;
        color: white;
        text-align: left;
        font-family: NoiTesk;
        padding-top: 0.1px;

        .rotated {
            margin: 8vw auto;
            width: fit-content;
            align-self: flex-start;

            @media (max-width: 768px) {
                margin-top: 25vw;
            }

            h1 {
                font-size: 7vw;
                line-height: 9vw;

                @media (max-width: 768px) {
                    font-size: 15vw;
                    line-height: 25vw;
                }

                &:nth-child(1) {
                    transform: rotate(6deg);
                    transform-origin: bottom;
                    color: #F2FFC4;

                    @media (max-width: 768px) {
                        transform: rotate(12deg);
                    }
                }

                &:nth-child(2) {
                    color: #c6ff4f;
                }

                &:nth-child(3) {
                    transform: rotate(-6deg);
                    transform-origin: bottom;
                    color: #F2FFC4;

                    @media (max-width: 768px) {
                        transform: rotate(-12deg);
                    }
                }
            }
        }
    }
